<h3>Add Secret</h3>
<form action="<%= secrets_url %>" id="secrets-form" method="POST">
  <input name="secrets[title]" type="text" id="secrets-title">
  <input name="secrets[recipient_id]" type="hidden" value="<%= @user.id %>">
  
  <div id="add-tags-content"></div>
  <button id="add-tag">add another tag</button>
  <br />
  <input type="submit" value="submit">
</form>

<script type="application/json" id="bootstrapped-tags-json">
  { "tags" : <%= Tag.all.to_json.html_safe %> }
</script>

<script type="text/template" id="tags-template">
  <select name="secrets[tag_ids][]" >
    <%% _(tags).each(function(tag){ %>
      <option value="<%%= tag.id %>"><%%= tag.name %></option>
    <%% }); %>
  </select>
</script>

<script type="text/javascript">
  $("#add-tag").on("click", function(event){
    event.preventDefault();
    
    var tags = JSON.parse($("#bootstrapped-tags-json").html());
    var templateCode = $("#tags-template").html();
    var templateFn = _.template(templateCode);
    var renderedContent = templateFn(tags);

    $("#add-tags-content").append(renderedContent);
  });

</script>