<form action="<%= secrets_url %>" method="POST">
  <input name="secrets[title]" type="text" id="secrets_title">
  <input name="secrets[recipient_id]" type="hidden" value="<%= @user.id %>">

  <input type="submit" value="submit">
</form>